# ########## ########## ########## ########## ########## ##########
# shbaek: one M2M Server Info
# ########## ########## ########## ########## ########## ##########
HUB_ID                            : NONAME_HUB

# ########## ########## ########## ########## ########## ##########
# shbaek: one M2M Server Info
# ########## ########## ########## ########## ########## ##########
# HY Server  : 166.104.112.34
# Test Server: 218.153.68.53
# ########## ########## ########## ########## ########## ##########
PLATFORM_SERVER_IP				: 166.104.112.34
PLATFORM_SERVER_PORT			: 8080

# ########## ########## ########## ########## ########## ##########
# shbaek: Authentication Server Info (Maybe... Same SI Server?)
# ########## ########## ########## ########## ########## ##########
AUTH_SERVER_IP					: 166.104.112.34
AUTH_SERVER_PORT					: 8081

# ########## ########## ########## ########## ########## ##########
# shbaek: Semantic Data Analysis Server Info
# ########## ########## ########## ########## ########## ##########
SDA_SERVER_IP						: 166.104.112.43
SDA_SERVER_PORT					: 20080

# ########## ########## ########## ########## ########## ##########
# shbaek: MySQL Info
# ########## ########## ########## ########## ########## ##########
MYSQL_DB_HOST                 	: 127.0.0.1
MYSQL_DB_PORT                 	: 3306
MYSQL_DB_USER                		: root
MYSQL_DB_PASSWORD               	: mysql

# ########## ########## ########## ########## ########## ##########
# shbaek: Auto Reset Timer
# ########## ########## ########## ########## ########## ##########
RESET_TIMER_USE					: TRUE
RESET_TIME_HOUR						: 6

# ########## ########## ########## ########## ########## ##########
# shbaek: ETC
# ########## ########## ########## ########## ########## ##########
GRIB_DEBUG_ONEM2M         			: FALSE
GRIB_DEBUG_BLE              		: FALSE
GRIB_DEBUG_THREAD             		: FALSE
GRIB_TOMBSTONE_BLE           		: FALSE
GRIB_TOMBSTONE_HTTP            		: FALSE

